body{
    background-color: blueviolet;
    text-align: center;
    margin: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  

    }

header{
    background-color: rgb(145, 114, 173);
    margin: 0 0 3vh 0;
    height: 50%;
    padding: 10%;
    border-radius: 20px;
    font-size: 35px;
    color: rgb(179, 226, 242);
}


.contenedor-padre{
    width: 80%;
    display: flex;
    grid-template-columns: repeat(3,20rem);
    column-gap: 20px;
    row-gap: 15px;
   
}


.contenedor-ficha{
    display: grid;
    background-color:beige;
    outline: 3px ridge  rgb(255, 255, 149);
    border-radius: 8px ;
    width: 20rem;
    height: 10rem;
    grid-template-columns: 10rem 12rem;
}

.styleImg{
    padding: 10px;
    width: 7rem;
    height: 8.5rem;
    display: flex;
    align-content:center ;
    flex-wrap: wrap;
     
}

